force-app/main/default/flows/Account_Update_from_chamber_of_commerce.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Update_CoC_Data</name>
        <label>Update CoC Data</label>
        <locationX>710</locationX>
        <locationY>1070</locationY>
        <actionName>UpdateCoCDataAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Was_Update_Success</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>identifier</name>
            <value>
                <elementReference>identifier</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isBranch</name>
            <value>
                <elementReference>isBranch</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isMainBranch</name>
            <value>
                <elementReference>isMainBranch</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Assign_Branchnumber</name>
        <label>Assign Branchnumber</label>
        <locationX>644</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>isBranch</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>identifier</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.Branch_Number__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CoCSuggestionsScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_CoCNumber</name>
        <label>Assign CoCNumber</label>
        <locationX>908</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>isBranch</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>identifier</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.Chamber_of_Commerce__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isMainBranch</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.Is_Main_Branch__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CoCSuggestionsScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_from_lwc</name>
        <label>Assign from lwc</label>
        <locationX>380</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>identifier</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Search_Chamber_of_Commerce_Screen.identifier</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isBranch</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Search_Chamber_of_Commerce_Screen.isBranch</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isMainBranch</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Search_Chamber_of_Commerce_Screen.isMainBranch</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CoCSuggestionsScreen</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>This decision checks if a chamber of commerce number or a branch number is available</description>
        <name>Check_numbers</name>
        <label>Check numbers</label>
        <locationX>710</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Branchnumber_or_Chamber_of_Commerce</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.Branch_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account.Chamber_of_Commerce__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Search_Chamber_of_Commerce</targetReference>
            </connector>
            <label>No Branchnumber or Chamber of Commerce</label>
        </rules>
        <rules>
            <name>Has_Branchnumber</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.Branch_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_Branch_Screen</targetReference>
            </connector>
            <label>Has Branchnumber</label>
        </rules>
        <rules>
            <name>Has_Chamber_of_Commerce</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.Chamber_of_Commerce__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account.Branch_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account.Is_Branch__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_Chamber_of_Commerce_Screen</targetReference>
            </connector>
            <label>Has Chamber of Commerce</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Changed</name>
        <label>Is Changed</label>
        <locationX>314</locationX>
        <locationY>1430</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Changed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Account_After_Update.Name</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account.BillingCity</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Account_After_Update.BillingCity</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account.BillingPostalCode</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Account_After_Update.BillingPostalCode</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account.BillingStreet</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Account_After_Update.BillingStreet</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account.BillingCountry</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Account_After_Update.BillingCountry</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Account.Legal_Form__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Account_After_Update.Legal_Form__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>After_Update_Success_Changed</targetReference>
            </connector>
            <label>Changed</label>
        </rules>
        <rules>
            <name>Not_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Account_After_Update.Name</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_After_Update_Not_Changed</targetReference>
            </connector>
            <label>Not Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Something_Selected</name>
        <label>Is Something Selected</label>
        <locationX>248</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Assign_from_lwc</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Nothing_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Search_Chamber_of_Commerce_Screen.identifier</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Search_Chamber_of_Commerce</targetReference>
            </connector>
            <label>Nothing Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Update_Success</name>
        <label>Was Update Success</label>
        <locationX>710</locationX>
        <locationY>1190</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Update_CoC_Data.isSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_After_Update</targetReference>
            </connector>
            <label>Success</label>
        </rules>
        <rules>
            <name>Fail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Update_CoC_Data.isSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>After_Update_Fail</targetReference>
            </connector>
            <label>Fail</label>
        </rules>
    </decisions>
    <formulas>
        <name>ActiveRegistrationsText</name>
        <dataType>String</dataType>
        <expression>{!$Label.CoC_Flow_Has_Registrations}</expression>
    </formulas>
    <formulas>
        <name>searchTermFormula</name>
        <dataType>String</dataType>
        <expression>{!Get_Account.Name} &amp; &quot; &quot; &amp; SUBSTITUTE({!Get_Account.BillingPostalCode},&quot; &quot;,&quot;&quot;)</expression>
    </formulas>
    <interviewLabel>Account Update Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account - Update From Chamber of Commerce</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>710</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_numbers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_After_Update</name>
        <label>Get Account After Update</label>
        <locationX>314</locationX>
        <locationY>1310</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Changed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>After_Update_Fail</name>
        <label>After Update Fail</label>
        <locationX>842</locationX>
        <locationY>1310</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>After_Update_Fail_Text</name>
            <fieldText>&lt;p&gt;Account Update Failed: &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!Update_CoC_Data.message}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>After_Update_Success_Changed</name>
        <label>After Update Success_Changed</label>
        <locationX>50</locationX>
        <locationY>1550</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>After_Update_Text</name>
            <fieldText>&lt;p&gt;Account updated. {!ActiveRegistrationsText}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CoCSuggestionsScreen</name>
        <label>Chamber of Commerce Suggestions Screen</label>
        <locationX>710</locationX>
        <locationY>950</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_CoC_Data</targetReference>
        </connector>
        <fields>
            <name>CoCSuggestions</name>
            <extensionName>c:coCSuggestions</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>accountId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>identifier</name>
                <value>
                    <elementReference>identifier</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isBranch</name>
                <value>
                    <elementReference>isBranch</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isMainBranch</name>
                <value>
                    <elementReference>isMainBranch</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Has_Branch_Screen</name>
        <label>Has Branch Screen</label>
        <locationX>644</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Branchnumber</targetReference>
        </connector>
        <fields>
            <name>Has_Branch_Screen_Text</name>
            <fieldText>&lt;p&gt;Updating using branchnumber: {!Get_Account.Branch_Number__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Has_Chamber_of_Commerce_Screen</name>
        <label>Has Chamber of Commerce Screen</label>
        <locationX>908</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_CoCNumber</targetReference>
        </connector>
        <fields>
            <name>Has_Chamber_of_Commerce_Screen_Text</name>
            <fieldText>&lt;p&gt;Updating using chamber of commerce number: {!Get_Account.Chamber_of_Commerce__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_After_Update_Not_Changed</name>
        <label>Screen After Update Not Changed</label>
        <locationX>314</locationX>
        <locationY>1550</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>After_Update_Not_Changed_Text</name>
            <fieldText>&lt;p&gt;No changes found in Chamber of Commerce&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Search_Chamber_of_Commerce</name>
        <label>Search Chamber of Commerce</label>
        <locationX>248</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_Something_Selected</targetReference>
        </connector>
        <fields>
            <name>Search_Chamber_of_Commerce_Screen</name>
            <extensionName>c:searchCoCData</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>searchTerm</name>
                <value>
                    <elementReference>searchTermFormula</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>accountIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>identifier</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isBranch</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isMainBranch</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
