force-app/main/default/flows/Account_Update_from_chamber_of_commerce.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Retrieve de current records CoC details to pass trough to the flow</description>
        <name>Get_Record_CoC_Details</name>
        <label>Get Record CoC Details</label>
        <locationX>512</locationX>
        <locationY>638</locationY>
        <actionName>GetRecordCoCDetailsInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_numbers</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>identifier</name>
            <value>
                <elementReference>identifier</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isBranch</name>
            <value>
                <elementReference>isBranch</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isMainBranch</name>
            <value>
                <elementReference>isMainBranch</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mappingDetail</name>
            <value>
                <elementReference>Get_Mapping_Detail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sObjectType</name>
            <value>
                <elementReference>SObjectType</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>branchNumber</assignToReference>
            <name>branchNumber</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>identifier</assignToReference>
            <name>identifier</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>isBranch</assignToReference>
            <name>isBranch</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>isMainBranch</assignToReference>
            <name>isMainBranch</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>get_SObjectType</name>
        <label>get SObjectType</label>
        <locationX>875</locationX>
        <locationY>158</locationY>
        <actionName>GetSObjectTypeInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Mapping_Configuration</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>idList</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>SObjectType</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Update_CoC_Data</name>
        <label>Update CoC Data</label>
        <locationX>512</locationX>
        <locationY>1550</locationY>
        <actionName>UpdateCoCDataAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Was_Update_Success</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>identifier</name>
            <value>
                <elementReference>identifier</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isBranch</name>
            <value>
                <elementReference>isBranch</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isMainBranch</name>
            <value>
                <elementReference>isMainBranch</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mappingDetail</name>
            <value>
                <elementReference>Get_Mapping_Detail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sObjectType</name>
            <value>
                <elementReference>SObjectType</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Assign_Branchnumber</name>
        <label>Assign Branchnumber</label>
        <locationX>446</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>isBranch</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>identifier</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>branchNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CoCSuggestionsScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_from_lwc</name>
        <label>Assign from lwc</label>
        <locationX>182</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>identifier</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Search_Chamber_of_Commerce_Screen.identifier</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isBranch</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Search_Chamber_of_Commerce_Screen.isBranch</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isMainBranch</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Search_Chamber_of_Commerce_Screen.isMainBranch</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CoCSuggestionsScreen</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_If_Mapping_Exists</name>
        <label>Check If Mapping Exists</label>
        <locationX>875</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>No_Mapping_Configuration_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Mapping_Configuration</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Mapping_Detail</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>This decision checks if a chamber of commerce number or a branch number is available</description>
        <name>Check_numbers</name>
        <label>Check numbers</label>
        <locationX>512</locationX>
        <locationY>758</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Branchnumber_or_Chamber_of_Commerce</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>branchNumber</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>identifier</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Search_Chamber_of_Commerce</targetReference>
            </connector>
            <label>No Branchnumber or Chamber of Commerce</label>
        </rules>
        <rules>
            <name>Has_Branchnumber</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>branchNumber</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_Branch_Screen</targetReference>
            </connector>
            <label>Has Branchnumber</label>
        </rules>
        <rules>
            <name>Has_Chamber_of_Commerce</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>identifier</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>branchNumber</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isBranch</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_Chamber_of_Commerce_Screen</targetReference>
            </connector>
            <label>Has Chamber of Commerce</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Something_Selected</name>
        <label>Is Something Selected</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Assign_from_lwc</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Nothing_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Search_Chamber_of_Commerce_Screen.identifier</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Search_Chamber_of_Commerce</targetReference>
            </connector>
            <label>Nothing Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_Update_Success</name>
        <label>Was Update Success</label>
        <locationX>512</locationX>
        <locationY>1670</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Update_CoC_Data.isSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AfterUpdateSuccess</targetReference>
            </connector>
            <label>Success</label>
        </rules>
        <rules>
            <name>Fail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Update_CoC_Data.isSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>After_Update_Fail</targetReference>
            </connector>
            <label>Fail</label>
        </rules>
    </decisions>
    <formulas>
        <name>ActiveRegistrationsText</name>
        <dataType>String</dataType>
        <expression>{!$Label.CoC_Flow_Has_Registrations}</expression>
    </formulas>
    <interviewLabel>Update Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update From Chamber of Commerce</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Mapping_Configuration</name>
        <label>Get Mapping Configuration</label>
        <locationX>875</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Mapping_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ObjectName__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SObjectType</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MappingConfiguration__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Mapping_Detail</name>
        <label>Get Mapping Detail</label>
        <locationX>512</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Record_CoC_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MappingConfiguration__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Mapping_Configuration.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>MappingDetail__mdt</object>
        <sortField>SortOrderBy__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>After_Update_Fail</name>
        <label>After Update Fail</label>
        <locationX>512</locationX>
        <locationY>1790</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>After_Update_Fail_Text</name>
            <fieldText>&lt;p&gt;Update Failed: &lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!Update_CoC_Data.message}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>AfterUpdateSuccess</name>
        <label>After Update Success</label>
        <locationX>248</locationX>
        <locationY>1790</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>After_Update_Text_0</name>
            <fieldText>&lt;p&gt;Record updated&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CoCSuggestionsScreen</name>
        <label>Chamber of Commerce Suggestions Screen</label>
        <locationX>512</locationX>
        <locationY>1430</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_CoC_Data</targetReference>
        </connector>
        <fields>
            <name>CoCSuggestions</name>
            <dataTypeMappings>
                <typeName>mappingDetail</typeName>
                <typeValue>MappingDetail__mdt</typeValue>
            </dataTypeMappings>
            <extensionName>c:coCSuggestions</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>identifier</name>
                <value>
                    <elementReference>identifier</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isBranch</name>
                <value>
                    <elementReference>isBranch</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isMainBranch</name>
                <value>
                    <elementReference>isMainBranch</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>mappingDetail</name>
                <value>
                    <elementReference>Get_Mapping_Detail</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>sObjectType</name>
                <value>
                    <elementReference>SObjectType</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Has_Branch_Screen</name>
        <label>Has Branch Screen</label>
        <locationX>446</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Branchnumber</targetReference>
        </connector>
        <fields>
            <name>Has_Branch_Screen_Text</name>
            <fieldText>&lt;p&gt;Updating using branchnumber: {!branchNumber}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Has_Chamber_of_Commerce_Screen</name>
        <label>Has Chamber of Commerce Screen</label>
        <locationX>710</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CoCSuggestionsScreen</targetReference>
        </connector>
        <fields>
            <name>Has_Chamber_of_Commerce_Screen_Text</name>
            <fieldText>&lt;p&gt;Updating using chamber of commerce number: {!identifier}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>No Mapping Configuration Found</description>
        <name>No_Mapping_Configuration_Found</name>
        <label>No Mapping Configuration Found</label>
        <locationX>1238</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CoC_No_Mapping_Found</name>
            <fieldText>&lt;p&gt;{!$Label.CoC_No_Mapping_Configuration_Available}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Search_Chamber_of_Commerce</name>
        <label>Search Chamber of Commerce</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_Something_Selected</targetReference>
        </connector>
        <fields>
            <name>Search_Chamber_of_Commerce_Screen</name>
            <extensionName>c:searchCoCData</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>749</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_SObjectType</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>accountIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>branchNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>identifier</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isBranch</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>isMainBranch</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SObjectType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
